<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>News - Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}
			<div id="contents">
				<div class="box">
					<div>
						<div id="news" class="body">
							<div class="sidebar">
								<h3>Latest News</h3>
								{{#each newslatest}}
								<ul>
								    <li>
										<a href="/news">{{this.headline}}</a>
									</li>
								</ul>
								{{/each}}
								<h3>Vaction Tips</h3>
								{{#each newstips}}
								<ul>
									<li>
										<a href="/news">{{this.tip}}</a>
									</li>
								</ul>
								{{/each}}
							</div>
							<div>
								<h1>News</h1>
								{{#each article}}
								<img src="images/{{this.image}}" alt="Img">
								<h2>{{this.name}}</h2>
								<span class="time">{{this.time}}<br> {{this.author}}</span>
								{{{this.content}}}
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer }}
	</div>
</body>
</html>